*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
}

header {
  height: 80px;
  color: white;
  background-color: lightseagreen;
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.card {
  border: solid lightseagreen;
  border-radius: 50px;
  padding: 10px 10px 0px 10px;
  position: relative;
  margin: 10px 10px 10px 10px;
  justify-content: center;
  height: 350px;
}

.question {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.card .card__show-answer-button {
  background-color: lightseagreen;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  right: 0px;
  position: absolute;
  left: 180px;
  right: 180px;
}

ul.card__tage-list {
  display: flex;
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  gap: 10px;
}

li.list-item {
  border: solid lightseagreen;
  border-radius: 15px;
}

li {
  padding: 10px;
  font-family: sans-serif;
}

.footer {
  position: fixed;
  display: flex;
  width: 100vw;
  bottom: 0;
  justify-content: space-evenly;
  background-color: lightseagreen;
  padding: 15px;
}
