*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
}

header {
  position: fixed;
  height: 200px;
  padding: 20px;
  width: 100vw;
  top: 0;
  background-image: linear-gradient(35deg, #ccffff, #ffcccc);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

h1 {
  position: absolute;
  right: 50%;
  top: 25%;
  font-family: monospace;
  font-size: 1.5em;
}

.quiz-image {
  position: absolute;
  width: 250px;
  top: 2%;
  right: 40%;
  left: 50%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  top: 200px;
  margin: 30px;
  margin-bottom: 10px;
  height: 350px;
  width: 400px;
  border: 5px solid;
  background-color: #b7f5f2;
  border-radius: 2rem;
}

.question {
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
}

.card .card__show-answer-button {
  background-color: lightseagreen;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  right: 0px;
  margin: auto;
}

ul.card__tage-list {
  display: flex;
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  gap: 10px;
}

li.list-item {
  border: solid lightseagreen;
  border-radius: 15px;
}

li {
  padding: 10px;
  font-family: sans-serif;
}

footer button {
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  font-size: 30px;
  color: lightseagreen;
}

.footer {
  position: fixed;
  display: flex;
  width: 100vw;
  bottom: 0;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
